//header AC


header{
  height:80px;
  background-color: #ffffff;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1200;
}

#logo{
  position: fixed;
  left:20px;
  top:20px;
  height:40px;
  :hover{
    opacity: .5;
    transition-timing-function: ease-in;
    transition: 0.5s;
  }
}

#burger-container{
  position: fixed;
  right:25px;
  top:25px;
}



//nav-container


#nav-container{
  display: none;
}
