//Hero AC


#hero{
  font-family: 'Montserrat', sans-serif;
  height:100vh;
  background-color:#8b9dc3;
  background-image: url("../img/hero/hero.jpg");
  background-size: cover;
  background-position: bottom;

  h1{
    font-size: 45px;
    padding-left: 20px;
    padding-top: 20vh;
    font-weight: 300;
    color:#ffffff;

  @include md {
    font-size: 55px;
  }
  @include lg {
    margin-left: 50px;
    font-size: 65px;
    height:95vh;
  }




    span{
      font-weight: 600;
    }
  }

}
