/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 500px;

// Small tablets (portrait view)
$screen-md-min: 650px;

// Tablets and small desktops
$screen-lg-min: 1000px;

// Large tablets and desktops
$screen-xl-min: 1200px;
